<h1>Docs</h1>

<div id="docs">
  <% @docs.each do |doc| %>
    <div>
         <a href="/docs/<%= doc.id %>">
           <%= doc.title %>
        </a>
    </br>
        <%= doc.content%>
    </div>
  <% end %>
</div>