   <!DOCTYPE html>
   <html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Welcome Page</title>
      <!-- <link rel="stylesheet" href="style.css"> --> <!-- Link your SCSS file -->
      <%= stylesheet_link_tag 'home.css' %>
      
   </head>
   <body>
       <div>
           FileCabinate
           <p id='login'><%= link_to 'Log In', new_user_session_path %></p>
       </div>
       <main>
           <section>
               <h1>FILE CABINATE</h1>
               <p>Your life worked,Organized,always</p>
               <button> <%= link_to 'Enter', new_user_registration_path %></button>
           </section>
       </main>
       <footer>
          
       </footer>
        
       <br>
   </body>
   </html>